{% extends "default.html" %}
{% block title %}Revisify - Report User{% endblock %}

{% block content %}
<section>

  <h1>Report User</h1>

  <form method="POST" id="reportUserForm">
    {{ form.hidden_tag() }}

    {{ form.issue(class="textBox", id="issue", placeholder="Enter your issue", autocomplete="off", maxlength=255) }}
    <p class="errorText" style="display: none;"></p>
    <p class="successText" style="display: none;"></p>

    <button type="button" class="popupButton" onclick="reportUserSend()">Report</button>
  </form>

</section>
{% endblock %}
