{% extends "default.html" %}
{% block title %}Revisify - Warn User{% endblock %}

{% block content %}
<section>

  <h1>Warn User</h1>

  <form method="POST" id="warnUserForm">
    {{ form.hidden_tag() }}

    {{ form.reason(class="textBox", id="reason", placeholder="Enter your reason", autocomplete="off", maxlength=255) }}
    <p class="errorText" style="display: none;"></p>
    <p class="successText" style="display: none;"></p>

    <button type="button" class="popupButton" onclick="warnUserSend()">Report</button>
  </form>

</section>
{% endblock %}
