{% macro flexible() -%}
	<script src="{{ url_for('static', filename='js/flexibleArea.js') }}"></script>
	<script>
	$("textarea").flexible()
</script>
{%- endmacro %}

{% macro button(text, link, class="", name="", value="", style="", id="", onclick="", target="") -%}
	<div style="text-align: center;">
		<a href="{{ link }}" {% if target %}target="_blank"{% endif %}>
			<button style="display: inline; {% if style %}{{ style }}{% endif %}" {% if name %}name="{{ name }}"{% endif %} {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %} {% if value %}value="{{ value }}"{% endif %} {% if onclick %}oncick="{{ onclick }}"{% endif %}>{{ text|safe }}</button>
		</a>
	</div>
{%- endmacro %}

{% macro advert() -%}
	{% if not debug %}
		<div class="overflowHidden">
			<!-- <p class="advert">Advertisement</p> -->
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			{% if iconcolor == '#C62828' %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="4097751917" data-ad-format="rectangle, horizontal"></ins>
			{% elif iconcolor == '#C2185B' %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="3958151116" data-ad-format="rectangle, horizontal"></ins>
			{% elif iconcolor == '#5E35B1' %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="5434884311" data-ad-format="rectangle, horizontal"></ins>
			{% elif iconcolor == '#1976D2' %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="6911617513" data-ad-format="rectangle, horizontal"></ins>
			{% elif iconcolor == '#00BCD4' %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="8388350715" data-ad-format="rectangle, horizontal"></ins>
			{% elif iconcolor == '#009688' %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="2341817114" data-ad-format="rectangle, horizontal"></ins>
			{% elif iconcolor == '#7CB342' %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="3818550313" data-ad-format="rectangle, horizontal"></ins>
			{% elif iconcolor == '#C0CA33' %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="5295283510" data-ad-format="rectangle, horizontal"></ins>
			{% elif iconcolor == '#FF5722' %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="8248749915" data-ad-format="rectangle, horizontal"></ins>
			{% elif iconcolor == '#6D4C41' %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="9725483115" data-ad-format="rectangle, horizontal"></ins>
			{% else %}
				<ins class="adsbygoogle" data-ad-client="ca-pub-2839207656593947" data-ad-slot="6741569116" data-ad-format="rectangle, horizontal"></ins>
			{% endif %}
		</div>
	{% endif %}
{%- endmacro %}

{% macro divider() -%}
	<div style="margin: 0 auto; text-align: center;" class="unselectable">
		<div style="width: 45%; padding-bottom: 3px; background-color: #cfd8dc; display: inline-block; margin: 3em 0;"></div>
	</div>
{%- endmacro %}

{% macro circleIcon(item) -%}
	<li class="circleIcon circleIcon{{ item.id }}" item-id="{{ item.id }}">
		<a href="{{ item.contentLink }}" share-href="{{ item.shareLink }}">
			<svg viewBox="0 0 100 100">
				<circle cx="50" cy="50" r="48" stroke="{{ item.textcolor }}" stroke-width="2" fill="{{ item.iconcolor }}"/>
				<text class="circleIconLetter unselectable" y=72>
					<tspan x=50 text-anchor="middle" fill="{{ item.textcolor }}">{{ item.name|firstChar }}</tspan>
				</text>
				<text class="circleIconAction" y=57>
					<tspan x=50 text-anchor="middle" fill="{{ item.textcolor }}"></tspan>
				</text>
			</svg>
			<p class="unselectable">{{ item.name }}</p>
		</a>

		{% if item.percentage %}
			<style>
			@keyframes circleIconProgress{{ item.id }} {
				to {
					stroke-dashoffset: {{ (3.14159265359 * (2 * 48)) - (item.percentage / 100 * (3.14159265359 * (2 * 48))) }}
				}
			</style>

			<script>
				var radius = 48;
				var circumference = 3.14159265359 * (2 * radius);

				var percentage = {{ item.percentage }};

				$('.circleIcon{{ item.id }} svg').css('stroke-dasharray', circumference);
				$('.circleIcon{{ item.id }} svg').css('stroke-dashoffest', circumference);

				$('.circleIcon{{ item.id }} svg').css('animation', 'circleIconProgress{{ item.id }} 700ms ease-out 100ms forwards');

				if (navigator.userAgent.indexOf('Edge') > -1 || navigator.userAgent.indexOf('isExplorer') > -1) {
					$('.circleIcon{{ item.id }} svg').css('stroke-dashoffset', '{{ (3.14159265359 * (2 * 48)) - (item.percentage / 100 * (3.14159265359 * (2 * 48))) }}');
				}

			</script>
		{% endif %}
	</li>
{%- endmacro %}

{% macro social(title, description, image="", url="") -%}
	<meta property="og:title" content="{{ title }}">
	<meta property="og:type" content="website">

	<meta property="og:url" content="{{ request.url }}">
	<meta name="og:description" content="{{ description[0:150]|bleach }}">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@revisify">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="{{ description[0:150]|bleach }}">


	{% if image %}
		<meta property="og:image" content="http://ohrosugayr.localtunnel.me{{ image }}">
		<meta name="twitter:image" content="https://revisify.com{{ image }}">
	{% else %}
		<meta property="og:image" content="https://revisify.com{{ url_for('static', filename='images/social/openGraph/default.png') }}">
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="1200" />
		<meta name="twitter:image" content="https://revisify.com{{ url_for('static', filename='images/social/openGraph/default.png') }}">
	{% endif %}
{%- endmacro %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{% block title %}{% endblock %}</title>

	<!-- CSS Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css', v=version) }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css', v=version) }}"/>

	<!-- Javascript -->
	<script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Favicon color -->
	{% if debug %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/local.png') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon/appleLocal.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% elif iconcolor == '#C62828' %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/red.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% elif iconcolor == '#C2185B' %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/pink.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% elif iconcolor == '#5E35B1' %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/purple.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% elif iconcolor == '#1976D2' %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/blue.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% elif iconcolor == '#00BCD4' %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/cyan.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% elif iconcolor == '#009688' %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/teal.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% elif iconcolor == '#7CB342' %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/green.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% elif iconcolor == '#C0CA33' %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/lime.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% elif iconcolor == '#FF5722' %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/orange.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% elif iconcolor == '#6D4C41' %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/brown.png') }}">
		<meta name="theme-color" content="{{ navcolor }}">
	{% else %}
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/default.png') }}">
		<meta name="theme-color" content="#263238">
	{% endif %}

	{% if not debug %}
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon/apple.png') }}">
	{% endif %}

	<!-- Make font look the same across all browsers - put on top to prevent thickening after page load-->
	<script>
	$(document).ready(function() {
  isChrome =
    /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor)
  isExplorer = navigator.userAgent.indexOf("MSIE") > -1
  isEdge = navigator.userAgent.indexOf("Edge") > -1
  isFirefox = navigator.userAgent.toLowerCase().indexOf("firefox") > -1
  isSafari = navigator.userAgent.indexOf("Safari") > -1
  isOpera = navigator.userAgent.indexOf("Presto") > -1
  isMac = navigator.userAgent.indexOf("Mac OS") != -1
  isAndroid = /(android)/i.test(navigator.userAgent)
  isWindows = !isMac

  if (isChrome && isSafari) {
    isSafari = false
  }

  if (isWindows && isAndroid) {
    isWindows = false
  }

  if (isWindows && isChrome) {
    isWindows = false
  }

  if (isSafari) {
    $("nav").css("-webkit-text-stroke", "0.8px")
    $("h1").css("-webkit-text-stroke", "1.5px")
    $("h2").css("-webkit-text-stroke", "0.02em")
    $("h6").css("-webkit-text-stroke", "0.3px")
    $("h1, h2, h6, nav .navText").css("font-weight", "400")
    $("h5").css("-webkit-text-stroke", "0.03em")
    $("h5").css("font-weight", "500")
  }

  if (isFirefox || isExplorer || isEdge) {
    $("h1, h5, h6, nav .navText").css(
      "font-family",
      "Texta-Regular, sans-serif"
    )
    $("h1, h5, h6, nav .navText").css("font-weight", "400")
  }
})
</script>

	{% block head %}
	{% endblock %}

{% if textcolor %}
<style>
	body {
		background-color: {{ bgcolor }};
	}

	h1, h2, h3, h4, h5, h6, p,
	nav .navText,
	.actionBar li,
	#menu{
		color: {{ textcolor }};
	}

	.actionBar li svg {
		fill: {{ textcolor }};
	}

	nav,
	#menu,
	#rightNav li li,
	.searchIconBackMobile {
		background-color: {{ navcolor }};
	}

	button,
	.searchBox {
		background-color: {{ textcolor }};
		color: {{ bgcolor }};
	}

	footer {
		background-color: {{ iconcolor }};
	}

	.popupContainer .popup {
		background-color: {{ bgcolor }};
		border-color: {{ textcolor }};
	}

	.popupContainer .popup .hidePopup {
		fill: {{ textcolor }};
	}

	.row .column .columnContainerBottom svg,
	.row .column .columnContainerBottom svg:hover {
		fill: {{ textcolor }};
	}

	.row .column .columnContainerBottom svg:active {
		fill: {{ iconcolor }};
	}

	.textBox,
	.searchBoxMobile {
		background-color: {{ textcolor }};
	}

	.searchIconMobile,
	#menu svg,
	.menuIcon {
		fill: {{ textcolor }};
	}

	.searchIcon {
		fill: {{ navcolor }};
	}

	.searchIconBack {
		background-color: {{ textcolor }};
	}

	.dropdownArrow {
		fill: {{ textcolor }};
	}

	.underline {
	  border-bottom: 1px solid {{ textcolor }};
	}

	h1.underline {
	  border-bottom: 3px solid {{ textcolor }};
	}

	.notificationBar {
		background-color: {{ textcolor }};
		border-color: {{ bgcolor }};
	}

	.notificationBar p,
	.notificationBar * {
		color: {{ bgcolor }};
		fill: {{ bgcolor }};
	}

	.notificationBar .underline {
		border-color: {{ bgcolor }};
	}

	.circleIcon.add svg {
		fill: {{ navcolor }};
	}

	.circleIcon.add text tspan {
		fill: {{ textcolor }};
	}

	.noContent svg * {
		fill: {{ navcolor }} !important;
	}

	.goalProgress #backdrop {
		stroke: {{ navcolor }};
	}

	.goalProgress #progress {
		stroke: {{ textcolor }};
	}

	.goalProgress p {
		color: {{ textcolor }};
	}

	.weeklyGoal:not(.weeklyGoalOverlay) .weeklyGoalChart .weeklyGoalChartBackdrop {
		stroke: {{ navcolor }};
	}

	.weeklyGoal:not(.weeklyGoalOverlay) .weeklyGoalChart .weeklyGoalChartProgress {
		stroke: {{ textcolor }};
	}

	.weeklyGoal:not(.weeklyGoalOverlay) svg text tspan {
		fill: {{ textcolor }};
	}

	.peopleYouFollow .searchItemTextTitle {
		color: {{ textcolor }};
	}

	.scrollBar::-webkit-scrollbar-track:vertical {
		background-color: {{ navcolor }};
	}

	.scrollBar::-webkit-scrollbar-thumb {
		background-color: {{ textcolor }};
	}
</style>

<script>
textcolor = "{{ textcolor }}"
iconcolor = "{{ iconcolor }}"
bgcolor = "{{ bgcolor }}"
navcolor = "{{ navcolor }}"
</script>
{% endif %}

</head>
<body>
	<div class="overlay"></div>

	<nav {% if welcome %}class="welcomeNavigation"{% endif %}>
		<!-- Hamburger menu -->
		<svg class="menuIcon" onclick="toggleMenu()" fill="#CFD8DC" viewBox="-3.6 -3.6 100 100">
			<path d="M93.2,3.9H-0.4c-1.8,0-3.2,1-3.2,2.3v10.3c0,1.3,1.4,2.3,3.2,2.3h93.5c1.8,0,3.2-1,3.2-2.3V6.2C96.4,5,95,3.9,93.2,3.9z"/>
			<path d="M93.2,38.9H-0.4c-1.8,0-3.2,1-3.2,2.3v10.3c0,1.3,1.4,2.3,3.2,2.3h93.5c1.8,0,3.2-1,3.2-2.3V41.2C96.4,40,95,38.9,93.2,38.9z"/>
			<path d="M93.2,73.9H-0.4c-1.8,0-3.2,1-3.2,2.3v10.3c0,1.3,1.4,2.3,3.2,2.3h93.5c1.8,0,3.2-1,3.2-2.3V76.2C96.4,75,95,73.9,93.2,73.9z"/>
		</svg>

		<!-- Revisify icon -->
		<a href="/" class="navText unselectable">
			<svg class="icon" viewBox="0 0 500 500">
				<path {% if textcolor %}fill="{{ textcolor }}"{% else %}fill="#BFCA33"{% endif %} d="M500,109.136c0,60.272-48.864,109.136-109.136,109.136c-60.268,0-109.129-48.863-109.129-109.136C281.735,48.861,330.597,0,390.864,0C451.136,0,500,48.861,500,109.136"/>
				<path {% if textcolor %}fill="{{ textcolor }}"{% else %}fill="#C21E5C"{% endif %} d="M218.265,109.136c0,60.272-48.86,109.135-109.135,109.135C48.864,218.271,0,169.408,0,109.136C0,48.861,48.864,0,109.129,0C169.404,0,218.265,48.861,218.265,109.136"/>
				<path {% if textcolor %}fill="{{ textcolor }}"{% else %}fill="#0ABCD4"{% endif %} d="M500,390.866C500,451.139,451.136,500,390.864,500c-60.268,0-109.129-48.861-109.129-109.134c0-60.274,48.861-109.136,109.129-109.136C451.136,281.73,500,330.592,500,390.866"/>
				<path {% if textcolor %}fill="{{ textcolor }}"{% else %}fill="#7CB342"{% endif %} d="M218.263,390.866C218.263,451.139,169.401,500,109.13,500C48.862,500,0.001,451.139,0.001,390.866c0-60.274,48.86-109.136,109.128-109.136C169.401,281.73,218.263,330.592,218.263,390.866"/>
			</svg>
		Revisify</a>
		{% if current_user.is_authenticated() %}
		<!-- Mobile search box -->
		<form class="searchFormMobile" action="{{ url_for('main.search') }}" method="GET">
			<span class="searchIconBackMobile" onclick="toggleSearch()">
			<!-- Hide search box icon -->
			<svg class="searchIconMobile" id="hideSearch" style="display: none;" viewBox="0 0 469.4 469.4">
			<path d="M310.4,235.1L459.9,85.5c12.5-12.5,12.5-33,0-45.7L429.4,9.4c-12.5-12.5-33-12.5-45.7,0L234.3,159L85.6,10.3c-12.5-12.5-33-12.5-45.7,0L9.5,40.8C-3,53.3-3,73.7,9.5,86.4l148.6,148.6L9.7,383.5c-12.5,12.5-12.5,33,0,45.7l30.4,30.4c12.5,12.5,33,12.5,45.7,0l148.5-148.4L383.1,460c12.5,12.5,33,12.5,45.7,0l30.4-30.4c12.5-12.5,12.5-33,0-45.7L310.4,235.1z"/>
			</svg>
			<!-- Show search box icon -->
			<svg class="searchIconMobile" id="showSearch" viewBox="0 0 250.313 250.313">
				<path d="M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76
				c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911
				c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38
				c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146
				c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236
				C170.146,140.044,140.043,170.146,102.911,170.146z"/>
			</svg>
			</span>
			<input type="text" name="query" id="searchMobileDisplay" class="searchBoxMobile" placeholder="Search for subjects, topics or people" autocomplete="off">
		</form>
		<!--  Desktop search box -->
		<form class="searchFormMobile searchForm" action="{{ url_for('main.search') }}" method="GET">
			<input type="text" name="query" id="searchLargeDisplay" class="searchBoxMobile searchBox" placeholder="Search for subjects, topics or people" autocomplete="off">
				<input type="submit" id="submit" style="display:none;"></input>
				<label for="submit">
					<svg class="searchIconMobile searchIcon" viewBox="0 0 250.313 250.313">
						<path style="fill-rule:evenodd;clip-rule:evenodd;" d="M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76
						c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911
						c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38
						c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146
						c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236
						C170.146,140.044,140.043,170.146,102.911,170.146z"/>
					</svg>
				</label>
		</form>

		{% endif %}
		<ul id="rightNav">
		{% block rightNav %}
			{% if current_user.is_authenticated() %}
			<li id="accountName">
				<a href="{{ url_for('social.user', hash=current_user.hash) }}">
					<img src="{{ current_user.profilePicture['80'] }}" alt="{{ current_user.name }}" class="userIcon">
					<span class="navText">{{ current_user.name }}</span>
				</a>
				<svg class="dropdownArrow" fill="#CFD8DC" width="1.6em" height="1.6em" viewBox="0 0 404.308 404.309">
					<path d="M0,101.08h404.308L202.151,303.229L0,101.08z"/>
				</svg>
				<ul class="unselectable" id="dropdownMenu">
					{% if current_user.admin %}
					<li class="navText">
						<a href="/admin">Admin</a>
					</li>
					{% endif %}
					<li class="navText">
						<a href="/settings">Settings</a>
					</li>
					<li class="navText">
						<a href="/help">Help</a>
					</li>
					<li class="navText">
						<a href="/sign-out">Sign Out</a>
					</li>
				</ul>
			</li>
			{% else %}
			<a href="{{ url_for('account.signIn') }}">
				<li class="navText navTextRegister">Sign In</li>
			</a>
			{% endif %}
		{% endblock %}
		</ul>
	</nav>

	{% if session['notificationBar'] %}
	<div class="notificationBar">

		<svg onclick="Sijax.request('hideNotificationBar')" viewBox="0 0 300 300">
			<path d="M225.2,170.6L204.6,150l37.7-37.7L297,57.5c4-4,4-10.4,0-14.4L256.9,3c-4-4-10.4-4-14.4,0l-67.7,67.7L150,95.4L125.5,71l-68-68c-4-4-10.4-4-14.4,0L3,43.1c-4,4-4,10.4,0,14.4l62.3,62.3L95.4,150l-32,32L3,242.5c-4,4-4,10.4,0,14.4L43.1,297c4,4,10.4,4,14.4,0l65.5-65.5l27-27l25.5,25.5l66.9,66.9c4,4,10.4,4,14.4,0l40.1-40.1c4-4,4-10.4,0-14.4L225.2,170.6z"/>
		</svg>

		<p>{{ session['notificationBar']['message']|safe }}</p>
		{% if session['notificationBar']['permanent'] == False %}
			{% do session.update({'notificationBar': None}) %}
		{% endif %}

		{% block notificationBarCSS %}
			<style style="display: none;">
				section:first-of-type {
					padding-top: 14em;
				}
			</style>
		{% endblock %}

	</div>
	{% endif %}

	<div id="menu" class="menuAnimation">
		<ul id="menuContent" class="menuAnimationContent">
			{% if current_user.is_authenticated() %}
			<a href="{{ url_for('social.user', hash=current_user.hash) }}">
				<img src="{{ current_user.profilePicture['80'] }}" alt="{{ current_user.name }}" class="userIcon">
				<li>{{ current_user.name }}</li>
			</a>
			{% endif %}

			<a href="/">
				<svg viewBox="0 0 75 100">
					<path d="M75.2,40.9L39.5,0.7C39.1,0.2,38.5,0,38,0s-1.1,0.2-1.5,0.7L0.8,40.9C0.4,41.3,0,41.8,0,42.3V98
						c0,1.1,1.4,2,2.5,2h22c1.1,0,1.5-0.9,1.5-2V69.1c0-1.1,1.4-2.1,2.5-2.1H38h9.5c1.1,0,2.5,1,2.5,2.1V98c0,1.1,0.4,2,1.5,2h22
						c1.1,0,2.5-0.9,2.5-2V42.3C76,41.8,75.6,41.3,75.2,40.9z"/>
				</svg>
				<li>Home</li>
			</a>

			{% if current_user.admin %}
			<a href="/admin">
				<svg viewBox="0 0 100 102">
					<path d="M0,40v24h100V40H0z M30,57H10V47h20V57z"/>
					<path d="M0,0v24h100V0H0z M30,17H10V7h20V17z"/>
					<path d="M0,78v24h100V78H0z M30,95H10V85h20V95z"/>
				</svg>
				<li>Admin</li>
			</a>
			{% endif %}

			{% if not current_user.is_authenticated() %}
			<a href="/sign-in">
				<svg viewBox="0 0 90 100">
					<path d="M45,0C33,0,23.3,11,23.3,24.7c0,13.6,9.7,24.7,21.7,24.7c12,0,21.7-11,21.7-24.7C66.7,11,57,0,45,0"/>
					<path d="M90,77.8C90,67.3,81.5,59,71,59H19C8.5,59,0,67.3,0,77.8v2c0,0.1,0,0.2,0,0.2h0v20h90V80h0c0-0.1,0-0.2,0-0.2V77.8z"/>
				</svg>
				<li>Sign In</li>
			</a>
			{% endif %}

			<a href="/help">
				<svg viewBox="0 0 54 100.2">
					<circle cx="28.8" cy="14" r="14"/>
					<polygon points="43,86.2 43,37.2 34,37.2 15,37.2 0,37.2 0,51.2 15,51.2 15,86.2 0,86.2 0,100.2 15,100.2 20,100.2 34,100.2 43,100.2 54,100.2 54,86.2 "/>
				</svg>
				<li>Help</li>
			</a>

			{% if current_user.is_authenticated() %}
			<a href="/settings">
				<svg viewBox="0 0 369.8 362.3">
					<path d="M320.8,136.7l-1.8-0.6l-6.9-16.4l0.7-1.7c20.8-47.2,19.4-48.6,15.9-52l-27.8-27.1c-1.1-1.1-3.1-1.9-4.8-1.9
						c-1.6,0-6.3,0-47.3,18.6l-1.6,0.7l-16.9-6.8l-0.7-1.7C210.4,0,208.5,0,203.7,0h-39.2c-4.8,0-7,0-24.8,47.8l-0.7,1.7l-16.8,6.9
						l-1.6-0.7c-27.8-11.7-44-17.6-48.2-17.6c-1.7,0-3.7,0.8-4.9,1.9L39.7,67.2c-3.5,3.5-5,4.9,16.9,51.1l0.8,1.7l-6.9,16.4l-1.7,0.7
						C0,156,0,157.8,0,162.7v38.4c0,4.9,0,7,49,24.5l1.8,0.6l6.9,16.3l-0.7,1.7c-20.8,47.2-19.5,48.5-15.9,52l27.7,27.1
						c1.2,1.1,3.2,1.9,4.9,1.9c1.6,0,6.3,0,47.3-18.6l1.6-0.8l16.9,6.8l0.7,1.7c19.3,47.7,21.3,47.7,26.1,47.7h39.2
						c4.9,0,7,0,24.9-47.9l0.7-1.7l16.9-6.8l1.6,0.7c27.7,11.7,43.9,17.7,48.1,17.7c1.7,0,3.7-0.7,4.9-1.9l27.8-27.2
						c3.5-3.5,5-4.9-17-51.1l-0.8-1.7l6.9-16.3l1.6-0.6c48.9-19,48.9-20.8,48.9-25.8v-38.4C369.8,156.2,369.8,154.2,320.8,136.7z
						M184.9,243.4c-35,0-63.5-28-63.5-62.3c0-34.3,28.5-62.3,63.5-62.3c35,0,63.5,27.9,63.5,62.3
						C248.4,215.5,219.9,243.4,184.9,243.4z"/>
				</svg>
				<li>Settings</li>
			</a>

			<a href="/sign-out">
				<svg viewBox="0 0 69.4 100">
					<path d="M60.4,9v59.6H9V9H60.4 M66.4,0H3C1.3,0,0,1.3,0,3v71.6c0,1.7,1.3,3,3,3h63.4c1.7,0,3-1.3,3-3V3
						C69.4,1.3,68.1,0,66.4,0L66.4,0z"/>
					<path d="M44.2,48.7l-0.1-23.3c0-1-0.5-1.9-1.4-2.3L3.9,2.1C2.1,1.2,0,2.4,0,4.4v48.7h0l0.1,23.3c0,1,0.5,1.9,1.4,2.3
						l38.8,20.9c1.8,1,3.9-0.3,3.9-2.3L44.2,48.7L44.2,48.7z"/>
				</svg>
				<li>Sign Out</li>
			</a>
			{% endif %}
		</ul>
	</div>

	<div id="wrapper">
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>

		<footer>
			<div class="row">
				<div class="small-6 medium-12 column">
					<div>
						<a href="http://www.facebook.com/revisify" target="_blank">
							<h6>Facebook</h6>
						</a>
						<a href="http://www.twitter.com/revisify" target="_blank">
							<h6>Twitter</h6>
						</a>
						<a href="http://www.instagram.com/revisify" target="_blank">
							<h6>Instagram</h6>
						</a>
						<a href="https://blog.revisify.com" target="_blank">
							<h6>Blog</h6>
						</a>
					</div>
				</div>

				<div class="small-6 medium-12 column">
					<div>
						<a href="/privacy-policy">
							<h6>Privacy</h6>
						</a>
						<a href="/terms-of-service">
							<h6>Terms</h6>
						</a>
						<a href="/help">
							<h6>Help</h6>
						</a>
						<a href="/contact">
							<h6>Contact</h6>
						</a>
					</div>
				</div>
			</div>

			<h6 class="copyright">&#169; {{ year }} Revisify</h6>
		</footer>

	<script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/script.min.js', v=version) }}"></script>
	<script src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>

	{% block javascript %}
	{% endblock %}

	{% if debug %}
		<script src="http://localhost:35729/livereload.js"></script>
	{% endif %}

	{% if screenshot %}
		<script>
		$(".userIcon").attr("src", "http://crystaldrops.in/assets/img/team/3.jpg")
$("#accountName .navText:first").html("Michael Lee")
</script>
	{% endif %}
</body>
</html>
