{% extends "default.html" %}
{% block title %}Revisify - Terms of Service{% endblock %}

{% block content %}
<section class="narrowWidth">
	<h1>Terms of Service</h1>
	<h2>The Gist:</h2>
	<p class="alignLeft">
		At Revisify, we run a service called Revisify and would love for you to
		use it. Our basic service is free and we plan to keep it free through the
		support of advertising (using Google Adsense). Our service is designed to
		give you as much control and ownership over the data you enter as possible.
		However, be responsible on the site. Revisify should be used for studying,
		and data posted for other purposes will be deleted (including spam). Please
		make sure you read through these terms of service and agree with them before
		you get started.
	</p>
</section>

<section class="narrowWidth">
	<h2>Terms of Service:</h2>
	<p class="alignLeft">
		The Revisify.com website (“Website”) is a hosted service operated by
		Revisify. Any use of the Website is subject to the following
		Terms and Conditions of Use (“Terms and Conditions”), as well as to
		Revisify’s Privacy Policy, all of which are incorporated by reference into
		these Terms and Conditions. Your use of the Website will constitute your
		acceptance of these terms and conditions.
	</p>
</section>

<section class="narrowWidth">
	<h2>Your Revisify Account and Data.</h2>
	<p class="alignLeft">
		If you create an account on the Website, you must be at least 13 years of
		age. We do not try to influence those younger than 13 to join our site. You
		must also be fully responsible for maintaining the security of your account
		and data and you are fully responsible for all activities that occur under
		the account. You must immediately notify Revisify of any unauthorised uses
		of your data, your account or any other breaches of security. Revisify will
		not be liable for any acts or omissions by You, including any damages of any
		kind incurred as a result of such acts or omissions. Revisify may from time
		to time set storage limits for your data, or take any other measures
		Revisify considers appropriate to manage the Website. Revisify will advise
		you of any such change, and may do so in any reasonable manner, such as
		posting a change on the news panel you see when you log in to your Revisify
		account. If you exceed the storage limits, Revisify may require you to
		reduce the storage you are using or pay additional fees. Revisify may also
		from time to time change its policies on offering commercial content or
		displaying advertising, and it may do this without notice. However, Revisify
		may send emails to account holders about its policy changes.
	</p>
</section>

<section class="narrowWidth">
	<h2>Responsibility of Contributors.</h2>
	<p class="alignLeft">
		If you create subjects and topics, post material to the Website, post links
		on the Website, or otherwise make material available by means of the Website
		(any such material, "Content"), You are entirely responsible for the content
		of, and any harm resulting from, that Content. That is the case regardless
		of whether the Content in question constitutes text, graphics, video media,
		an audio file, computer software or any other format in which Revisify
		stores data. By making Content available, you represent and warrant that:
	</p>
	<p class="alignLeft">
		- the downloading, copying and use of the Content will not infringe the
		proprietary rights, including but not limited to the copyright, patent,
		trademark or trade secret rights, of any third party;
	</p>
	<p class="alignLeft">
		- if your employer has rights to intellectual property you create, you have
		either (i) received permission from your employer to post or make available
		the Content, including but not limited to any software, or (ii) secured from
		your employer a waiver as to all rights in or to the Content;
	</p>
	<p class="alignLeft">
		- you have fully complied with any third-party licenses relating to the
		Content, and have done all things necessary to successfully pass through to
		end users any required terms;
	</p>
	<p class="alignLeft">
		- the Content does not contain or install any viruses, worms, malware,
		Trojan horses or other harmful or destructive content;
	</p>
	<p class="alignLeft">
		- the Content is not pornography, spam, and does not contain unethical or unwanted
		commercial content designed to drive traffic to third party sites or boost
		the search engine rankings of third party sites, or to further unlawful acts
		(such as phishing) or mislead recipients as to the source of the material
		(such as spoofing);
	</p>
	<p class="alignLeft">
		- the Content is not obscene, libellous, hateful or racially or ethnically
		objectionable, and does not violate the privacy or publicity rights of any
		third party; and
	</p>
	<p class="alignLeft">
		- you have, in the case of Content that includes computer code, accurately
		categorised and/or described the type, nature, uses and effects of the
		materials, whether requested to do so by Revisify or otherwise.
	</p>
	<p class="alignLeft">
		- By submitting Content to Revisify for inclusion on the Website, you grant
		Revisify a world-wide, royalty-free, and non-exclusive license to reproduce,
		modify, adapt and publish the Content solely for the purpose of displaying,
		distributing and promoting your Content. If you delete Content, Revisify
		will use reasonable efforts to remove it from the Website, but you
		acknowledge that caching or references to the Content may not be made
		immediately unavailable.
	</p>
	<p class="alignLeft">
		- Without limiting any of those representations or warranties, Revisify has
		the right (though not the obligation) to, in Revisify’s sole discretion (i)
		refuse or remove any content that, in Revisify’s reasonable opinion,
		violates any Revisify policy or is in any way harmful or objectionable, or
		(ii) terminate or deny access to and use of the Website to any individual or
		entity for any reason, in Revisify’s sole discretion. Revisify will have no
		obligation to provide a refund of any amounts previously paid.
	</p>
</section>

<section class="narrowWidth">
	<h2>Responsibility of Website Visitors.</h2>
	<p class="alignLeft">
		Revisify has not reviewed, and cannot review, all of the material,
		including computer software, posted to the Website, and cannot therefore be
		responsible for that material’s content, use or effects. By operating the
		Website, Revisify does not represent or imply that it endorses the material
		there posted, or that it believes such material to be accurate, useful or
		non-harmful. You are responsible for taking precautions as necessary to
		protect yourself and your computer systems from viruses, worms, Trojan
		horses, and other harmful or destructive content. The Website may contain
		content that is offensive, indecent, or otherwise objectionable, as well as
		content containing technical inaccuracies, typographical mistakes, and other
		errors. The Website may also contain material that violates the privacy or
		publicity rights, or infringes the intellectual property and other
		proprietary rights, of third parties, or the downloading, copying or use of
		which is subject to additional terms and conditions, stated or unstated.
		Revisify disclaims any responsibility for any harm resulting from the use by
		visitors of the Website, or from any downloading by those visitors of
		content they posted.</p>
</section>

<section class="narrowWidth">
	<h2>Content Posted on Other Websites.</h2>
	<p class="alignLeft">
		We have not reviewed, and cannot review, all of the material, including
		computer software, made available through the websites and webpages to which
		Revisify links, and that link to Revisify. Revisify does not have any
		control over those non-Revisify websites and webpages, and is not
		responsible for their contents or their use. By linking to a non-Revisify
		website or webpage, Revisify does not represent or imply that it endorses
		such website or webpage. You are responsible for taking precautions as
		necessary to protect yourself and your computer systems from viruses, worms,
		Trojan horses, and other harmful or destructive content. Revisify disclaims
		any responsibility for any harm resulting from your use of non-Revisify
		websites and webpages.
	</p>
</section>

<section class="narrowWidth">
	<h2>Copyright Infringement.</h2>
	<p class="alignLeft">
		As Revisify asks others to respect its intellectual property rights, it
		respects the intellectual property rights of others. If you believe that
		material located on or linked to by Revisify.com or Revisify.net violates your copyright,
		you are encouraged to notify Revisify. Revisify will respond to all such
		notices, including as required or appropriate by removing the infringing
		material or disabling all links to the infringing material. In the case of a
		visitor who may infringe or repeatedly infringes the copyrights or other
		intellectual property rights of Revisify or others, Revisify may, in its
		discretion, terminate or deny access to and use of the Website. In the case
		of such termination, Revisify will have no obligation to provide a refund of
		any amounts previously paid to Revisify.
	<p>
</section>

<section class="narrowWidth">
	<h2>Changes.</h2>
	<p class="alignLeft">
		The Website, including without limitation all content there available and
		these Terms and Conditions, may be changed at the sole discretion of
		Revisify and without notice. You are bound by any such updates or changes,
		including but not limited to those affecting these Terms and Conditions, and
		so should periodically review these Terms and Conditions.
	</p>
	<p class="alignLeft">Limitation of warranties of Revisify, its suppliers and
		its licensors. Except as otherwise expressly stated, all content posted to
		or available from the Website is provided “as is”, and Revisify, its
		suppliers and its licensors make no representations or warranties, express
		or implied, including but not limited to warranties of merchantability,
		fitness for a particular purpose, title or non-infringement of proprietary
		rights. You understand and agree that you download from, or otherwise obtain
		content or services through, the Website at your own discretion and risk,
		and that Revisify, its suppliers and its licensors will have no liability or
		responsibility for any damage to your computer system or data that results
		from the download or use of such content or services. If you’re actually
		reading this, here’s a treat. Some jurisdictions may not allow the exclusion
		of implied warranties, so some of the above may not apply to you.
	</p>
	<p class="alignLeft">
		Limitation of liability of Revisify, its suppliers and its licensors. Except
		as otherwise expressly stated, in no event will Revisify, its suppliers or
		its licensors be liable to you or any other party for any direct, indirect,
		special, consequential or exemplary damages, regardless of the basis or
		nature of the claim, resulting from any use of the Website, or the contents
		thereof or of any hyperlinked website including without limitation any lost
		profits, business interruption, loss of data or otherwise, even if Revisify,
		its suppliers or its licensors were expressly advised of the possibility of
		such damages. In no event will the aggregate liability for any and all of
		your claims against Revisify, its suppliers and its licensors arising out of
		or related to use of the Website, or the contents thereof or of any
		hyperlinked website exceed the amounts actually paid by you to Revisify
		during the 12-month period prior to the date a claim is made. Some
		jurisdictions may not allow the exclusion or limitation of liability for
		certain incidental or consequential damages, so some of the above
		limitations may not apply to you. The parties agree that this Section 11
		represents a reasonable allocation of risk.
	</p>
	<p class="alignLeft">
		General Representation and Warranty. You represent and warrant that your use
		of the Website will be in accordance with the Revisify’s Privacy Policy,
		with these Terms and Conditions, with any applicable laws and regulations,
		including without limitation any local laws or regulations in your country,
		state, city, or other governmental area, regarding online conduct and
		acceptable content, and including all applicable laws regarding the
		transmission of technical data exported from the United States or the
		country in which you reside, and with any other applicable policy or terms
		and conditions.
	</p>
</section>

<section class="narrowWidth">
	<h2>Indemnification.</h2>
	<p class="alignLeft">
		You agree to defend, indemnify and hold harmless Revisify, its contractors,
		and its licensors, and their respective directors, officers, employees and
		agents from and against any and all claims and expenses, including
		attorneys’ fees, arising out of your use of the Website, including but not
		limited to out of your violation of any representation or warranty contained
		in these Terms and Conditions.
	</p>
</section>

<section class="narrowWidth">
	<h2>Miscellaneous.</h2>
	<p class="alignLeft">
		These Terms and Conditions constitute the entire agreement between Revisify
		and you concerning the subject matter hereof, and they may only be modified
		by a written amendment signed by an authorized executive of Revisify, or by
		the posting by Revisify of a revised version. Except to the extent
		applicable law, if any, provides otherwise, these Terms and Conditions, any
		access to or use of the Website will be governed by the laws of the United
		Kingdom, excluding its conflict of law provisions, and the proper venue for
		any disputes arising out of or relating to any of the same will be Her
		Majesty's Courts of Justice of England and Wales. If any part of these Terms
		and Conditions is held invalid or unenforceable, that part will be construed
		to reflect the parties’ original intent, and the remaining portions will
		remain in full force and effect. A waiver by either party of any term or
		condition of these Terms and Conditions or any breach thereof, in any one
		instance, will not waive such term or condition or any subsequent breach
		thereof. You may assign your rights under these Terms and Conditions to any
		party that consents to, and agrees to be bound by, its terms; Revisify may
		assign its rights under these Terms and Conditions without condition. These
		Terms and Conditions will be binding upon and will inure to the benefit of
		the parties, their successors and permitted assigns.
	</p>
</section>
{% endblock %}
