{% extends "default.html" %}
{% block title %}Revisify - Our Story{% endblock %}

{% block content %}
<section class="narrowWidth">

	<h1>Our Story</h1>

	<h2>
		Our mission is to help students around the world reach their potential.
	</h2>

	<p>
		We believe anyone can accomplish anything when provided with the right tools
		to do so. That's why we built Revisify and allow everyone to use it for
		free.
	</p>

	<p>
		Revisify started out as a small website to help founder, Pav Sidhu, pass his
		exams when he was in high school. When he found his friends started using
		Revisify to study, he spent time developing his website for students around
		the world to benefit from his simple and enjoyable studying approach.
	</p>

	<p>
		After many months of development, Revisify was released to the public in the
		September of 2015. Since then, an increasing number of students from around
		the world have signed up and taken advantage of the tools we have to offer.
		We help students learn subjects ranging from medicine, to english, to law.
	</p>

	<p>
		Our mission does not end until every student has access to Revisify to help
		them achieve their goals. This is just the beginning for us and we look
		forward to the future of Revisify.
	</p>

</section>
{% endblock %}
