{% extends "default.html" %}
{% block title %}Revisify - A free to use study tool for students{% endblock %}

{% block head %}
	<meta name="google-site-verification" content="mOcokzK2Ud6Cp-yApsXqFZu97fN3etnYC9YPytfuV1o"/>
	<meta name="description" content="We provide easy to use study tools to make learning fun and effective for free.">
	<meta name="msvalidate.01" content="FA6058C3525F07BBAFF6BACF0CCD7A8E" />

	{{ social(
		'Revisify - A free to use study tool for students',
		'We provide simple and engaging tools to help students study for free.'
	)}}
	<style>
		#content {
			padding-bottom: 180px;
		}
	</style>
{% endblock %}

{% block content %}
	<section class="narrowWidth">
	<h1>Revisify is Closing Down</h1>

	<p class="alignLeft">After a lot of thought I've decided that the time for Revisify has come to an end.</p>
	<p class="alignLeft">Revisify was an attempt to take some of the pain out of memorization but it didn't solve the root of the problem. Even if Revisify became a large success, would it be right to be profiting from a problem that I want to see a change in?</p>

	<p class="alignLeft">If you still want to keep your topics send me an email to <a href="mailto:support@revisify.com?subject=Save My Topics!" style="color: white">support@revisify.com</a> and I’ll send you a copy of your topics that you can import into <a href="https://quizlet.com" style="color: white">Quizlet</a>.</p>

	<p class="alignLeft"> <span style="color: #BFCA33">Revisify will continue to run until October 1st</span> so that everyone has plenty of time to export their data. You will no longer be able to access your account, your subjects, your followers and your results after October 1st.</p>

	<p class="alignLeft">Thank you to everyone for your suggestions and your support over the past 2 years, it’s been a lot of fun.</p>

	<p class="alignLeft">Onto the next project, <br>Pav 😄</p>

	<p class="alignLeft">(Read the full blog post <a href="https://blog.revisify.com/the-end-of-revisify-f7d9dcd35a98" style="color: white">here</a>)</p>

	</section>
{% endblock %}
