{% extends "email/unformatted/template.html" %}
{% block body %}
<tr>
  <td>
    <br>
    <h3>Hi {{ name }},</h3>
    <p>It's great to have you on board with us. We hope you find Revisify to be an effective revision tool.</p>
		<h2>Quick Start Guide</h2>
		<p>If you would like some help with using Revisify, check out our <a href="http://revisify.com/quick-start">Quick Start Guide</a> which will take you through everything you need to know.</p>

		<h2>Want to Speak to Us?</h2>
		<p>At Revisify we love to hear from our community, whether you need some help, you have some ideas on making Revisify better or you just want to talk. <a href="http://revisify.com/contact">Send us a message</a> and we will get right back to you.</p>

		<h2>Keep up to Date</h2>
		<p>We're constantly improving Revisify. If you would like to stay updated, <a href="http://revisify.com/blog">check out our Blog</a>, <a href="http://facebook.com/revisify">like us on Facebook</a> and <a href="http://twitter.com/revisify">following @Revisify on Twitter</a>.</p>

		<br>
		<p>Happy studying,<br>
		Revisify.</p>
  </td>
</tr>
{% endblock %}
