{% extends "default.html" %}
{% block title %}Revisify - Page Not Found{% endblock %}

{% block content %}
<section>
	<h1>Page Not Found</h1>
	<p>We couldn't find the page you were looking for. If you think this is an error on our side please <a href="/contact" class="underline">Contact Us</a></p>
	<iframe width="420" height="315" style="display: block; margin: 30px auto; max-width: 100%;" src="https://www.youtube.com/embed/y8Kyi0WNg40?&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
	<a href="/">
		<button>Home</button>
	</a>
</section>
{% endblock %}
