{% extends "default-maintenance.html" %}
{% block title %}Revisify is Under Maintenance{% endblock %}

{% block head %}
<meta name="google-site-verification" content="mOcokzK2Ud6Cp-yApsXqFZu97fN3etnYC9YPytfuV1o"/>
<meta name="msvalidate.01" content="FA6058C3525F07BBAFF6BACF0CCD7A8E" />
{% endblock %}

{% block content %}
<section>
	<h1>We're Under Maintenance</h1>
	<p class="narrowWidth">To make Revisify an even better experience, we
		sometimes have to fix things behing the scenes. Don't worry, we'll be back
		online as soon as possible.
		<br>
		In the meantime, here is an educational video.</p>
		{{ button('Educational Video', 'https://youtu.be/dQw4w9WgXcQ') }}
</section>
{% endblock %}
